# Build and Bins
.gradle/
bin/
build/
run/*

# IDEs
.settings/
.classpath
.project

# Launching
runClient.launch
runData.launch
runGameTestServer.launch
runServer.launch

# Misc
deprecated_builds/*
framework-0.4.2-1.19.2.jar
ShoulderSurfing-Forge-1.19.2-4.1.4.jar
explosiveenhancement-1.0.1.jar
SourceTree.lnk
